body , html{
    margin: 0;
    height: 100%;
}
.fas{
    font-size: 30px!important;
   
}


.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#icono{
    width: 120px;
    height: 120px;
}

.mt-40{
    margin-top: 100px;
}

.filter{
    height: 100%;
}